.title-bar {
  font-size: 2em;
  color: white;
  background-color: greenyellow;
  text-align: center;
  position: static;
}

.buttons-container {
  display: grid;
  grid-auto-flow: column;
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
  position: static;
}

.link-redondo {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #33ffd1;
  border-radius: 50%;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  color: white;
}

.link-texto-largo {
  font-weight: bold;
  font-size: 0.8rem;
}

#ctn-barra-navegacion {
  width: 100%;
  z-index: 99;
}

#reporte-final-2 {
  font-size: 0.7rem;
}