.title-bar {
  font-size: 2em;
  font-weight: bold;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #CD5700;
  text-align: center;
}

.buttons-container {
  display: grid;
  grid-auto-flow: column;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 3px 10px -2px #dadce0;
}

.link-redondo {
  width: 3rem;
  height: 3rem;
  background-color: #FF91ED;
  border-radius: 50%;
  margin: auto;
  font-size: 2rem;
  text-align: center;
  color: white;
  box-shadow: 0px 0px 0px 3px #FF91ED75;
}

.link-redondo:hover {
  cursor: pointer;
  background-color: white;
  color: #FF91ED;
}

.link-texto-largo {
  font-weight: bold;
  font-size: 0.8rem;
}

#ctn-barra-navegacion {
  width: 100%;
  z-index: 99;
}

#reporte-final-2 {
  font-size: 0.7rem;
}