h1 {
  font-size: 1.5rem;
  text-align: left;
}

.centro-universitario {
  font-size: 1.em;
}

#captura {
  width: 100%;
  height: 100%;
  padding: 5%;
}

#encabezado {
  height: 15rem;
  overflow: hidden;
}

#cnt-escudo {
  display: inline-block;
  height: 100%;
  width: 15%;
}

#escudo {
  height: 50%;
  display: inline;
}

#cnt-titulos {
  display: inline-block;
  position: absolute;
  width: 85%;
}

#btn-descargar {
  position: fixed;
  margin-top: 5%;
  margin-left: 5%;
  z-index: 1;
}

