h1, h2 {
  font-size: 1.2rem;
  text-align: center;
}

form {
  margin: 1rem;
}

label, input, textarea {
  width: 100%;
  display: block;
}

input {
  font-size: 1.3rem;
  height: 2rem;
}

textarea {
  height: 5rem;
}