* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 75%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

button {
  border-style: unset;
}

.centrar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primario {
  font-size: 1.4rem;
  border: 1px solid black;
  height: 2.5rem;
  background-color: #6be83c;
  border-radius: 10%;
}

.btn-secundario {
  font-size: 1.4rem;
  border: 1px solid black;
  height: 2.5rem;
  background-color: #f9f03e;
  border-radius: 10%;
}

.btn-terciario {
  font-size: 1.4rem;
  border: 1px solid black;
  height: 2.5rem;
  background-color: #ff2020;
  border-radius: 10%;
}

.btn-link {
  display: table-cell;
  text-decoration: none;
  color: black;
  text-align: center;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  vertical-align: middle;
}

.br {
  height: 5mm;
}

.ctn-btn-link {
  display: inline-block;
}

.ctn-btns-descargar-y-modificar {
  display: flex;
  z-index: 1;
  margin-left: 1rem;
  gap: 1rem;
}

.ctn-firmas {
  height: 45mm;
}

.ctn-con-padding {
  padding: 3%;
}

.fila-actividad {
  height: 5mm;
}

.numero-de-pagina {
  height: 5mm;
  text-align: right;
}

.salto-pagina {
  border-top: 1px dashed blue;
}

.texto-encabezado {
  font-size: 2em;
  color: #153547;
}

#pagina-principal-titulo {
  display: block;
  width: 100%;
  margin-top: 30vh;
  text-align: center;
  font-size: 300%;
  color: #153547;
}


