* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 75%;
}

button {
  border-style: unset;
}

.centrar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primario {
  font-size: 1.4rem;
  border: 1px solid black;
  height: 2.5rem;
  background-color: greenyellow;
  border-radius: 10%;
}

.btn-secundario {
  font-size: 1.4rem;
  border: 1px solid black;
  height: 2.5rem;
  background-color: yellow;
  border-radius: 10%;
}

.btn-terciario {
  font-size: 1.4rem;
  border: 1px solid black;
  height: 2.5rem;
  background-color: red;
  border-radius: 10%;
}

.btn-modificar {
  display: table-cell;
  text-decoration: none;
  color: black;
  text-align: center;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  vertical-align: middle;
}

.ctn-btn-modificar {
  display: inline-block;
}

.ctn-btns-descargar-y-modificar {
  display: flex;
  z-index: 1;
  margin-left: 1rem;
  gap: 1rem;
}

#pagina-principal-titulo {
  display: block;
  width: 100%;
  margin-top: 30vh;
  text-align: center;
  font-size: 300%;
}
